@{
    ViewData["Title"] = "Home Page";
}

<div class="div-container">
    <div class="row">
        <div class="col-md-6 text-right">
            <a class="btn-app" asp-controller="Services" asp-action="ApplyNumber">
                Müraciət sənədinin<br/>nömrəsi üzrə
            </a>

        </div>
        <div class="col-md-6">
            <a class="btn-app" asp-controller="Services" asp-action="Passport">
                Şəxsiyyəti təsdiq edən<br /> sənəd üzrə
            </a>
        </div>
    </div>
</div>